<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098459317201-7pleeeq0vjtutddml8slrmbu9o9ip6k0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098459317201-7pleeeq0vjtutddml8slrmbu9o9ip6k0</string>
	<key>API_KEY</key>
	<string>AIzaSyC1TMpqzRF5eH_-MQhwzQ_8p7caPyBimoM</string>
	<key>GCM_SENDER_ID</key>
	<string>1098459317201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>saw.com.FireStoreResturantSB</string>
	<key>PROJECT_ID</key>
	<string>firestoreresturantproject</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoreresturantproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098459317201:ios:a1cee16ae6492509ba16f0</string>
	<key>DATABASE_URL</key>
	<string>https://firestoreresturantproject.firebaseio.com</string>
</dict>
</plist>